.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid white; */
  padding: 1.2rem 3.2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.nav-logo-div {
  gap: 0.5rem;
}

.nav-links {
  gap: 2rem;
}

.nav-link {
  color: white;
  /* font-size: 0.85rem; */
}

@media screen and (max-width: 750px) {
  .nav {
    padding: 1.2rem;
  }
}
