.hero-billboard {
  text-transform: uppercase;
  /* padding-top: 7.5rem; */
  /* margin: 2rem 0; */
  /* transform: scale(1) translateX(1rem); */
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow: hidden;
}

@keyframes scaleY {
  100% {
    transform: scaleY(1);
  }
}

.top-billboard-h1 {
  font-weight: 200;
  letter-spacing: 3.5rem;
  font-size: 3rem;
  line-height: 2rem;
  transform: scaleY(0.45) translateX(1.25rem);
}

.middle-billboard-row {
  position: relative;
  height: 0%;
  overflow: hidden;
  animation: growmiddlerow 2s 3.25s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    forwards;
}

@keyframes growmiddlerow {
  100% {
    height: 150px;
  }
}

.middle-billboard-h1 {
  font-size: 12rem;
  line-height: 9rem;
  font-weight: 500;
  position: relative;
}

.shadow-middle-h1 {
  filter: blur(2.5px);
  /* transform: scaleY(0); */
}

.middle-billboard-h1-absolute {
  position: absolute;
  z-index: 10;
  background: url("/spacebg2.jpeg");
  background-size: cover;
  background-position-y: 0%;
  color: transparent;
  background-clip: text;
  animation: scrollbgtext 15s infinite;
}

@keyframes scrollbgtext {
  0% {
    background-position-y: 100%;
  }
  50% {
    background-position-y: 0%;
  }
  100% {
    background-position-y: 100%;
  }
}

.bottom-billboard-h1 {
  letter-spacing: 5rem;
  font-weight: 100;
  font-size: 3.5rem;
  line-height: 2.5rem;
  transform: translateX(2rem) scaleY(0.5);
}

@media screen and (max-width: 750px) {
  .hero-billboard {
    transform: scale(0.65) translateX(-2.5rem);
    animation: none;
  }
}
