.app {
  color: white;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app-content-container {
  max-width: 85rem;
  height: 100%;
  position: relative;
  margin: 0 auto;
  width: 100vw;
  font-family: var(--montserrat);
  overflow: hidden;
  border: 10px solid red;
}

.app::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/appbg.jpg");
  background-size: cover;
  inset: 0;
}

.app-bg {
  position: absolute;
  inset: 0;
}

.app-bg::after {
  content: "";
  position: absolute;
  background: gray;
  border-radius: 500px;
  width: 65rem;
  height: 75rem;
  top: -35rem;
  left: -25rem;
  filter: blur(65px);
  opacity: 85%;
  background: radial-gradient(grey, teal);
  z-index: 20;
}

.app-content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 50;
  padding: 0 1.2rem;
  overflow: auto;
}

.slide-in-right {
  transform: translateX(-100vw);
  animation: slidetocenter 1.5s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    forwards;
}

.slide-in-left {
  transform: translateX(100vw);
  animation: slidetocenter 1.5s 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    forwards;
}

@keyframes slidetocenter {
  100% {
    transform: translateX(0rem) scaleY(0.65);
  }
}

@keyframes scaleY {
  100% {
    transform: scaleY(1);
  }
}

@keyframes translateYToZero {
  100% {
    transform: translateY(0);
  }
}

/* .parent-container {
  height: 100vh;
} */
