.app {
  /* min-height: 100vh; */
  background: linear-gradient(var(--darkblack), var(--black));
  color: white;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.app::after {
  content: "";
  position: absolute;
  background: gray;
  border-radius: 500px;
  width: 65rem;
  height: 75rem;
  inset: 0;
  top: -35rem;
  left: -25rem;
  transform: skew(10deg);
  filter: blur(65px);
  opacity: 35%;
  background: radial-gradient(grey, teal);
}

.app::before {
  content: "";
  position: absolute;
  background: gray;
  border-radius: 500px;
  width: 35rem;
  height: 35rem;
  bottom: -15rem;
  right: -15rem;
  transform: skew(10deg);
  filter: blur(85px);
  opacity: 25%;
  background: radial-gradient(teal, grey);
}

.app-content {
  max-width: 85rem;
  height: 100%;
  position: relative;
  /* border: 2px solid red; */
  margin: 0 auto;
  font-family: var(--montserrat);
  z-index: 10;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}
