html {
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkblack: rgb(5, 5, 10);
  --black: rgb(20, 20, 20);
  --lightblack: rgb(35, 30, 30);
  --arsenal: "Arsenal SC", sans-serif;
  --sourcetext: "Source Code Pro", monospace;
  /* --montserrat: "Montserrat", sans-serif; */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.bold {
  font-weight: 600;
}

.thin {
  font-weight: 200;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}
